* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected {
    background-color: gray;
}

.completed {
    text-decoration: line-through solid black;
}

#funcionamento {
    margin: 20px;
    font-weight: 700;
}

#texto-tarefa {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

#criar-tarefa {
    margin: 25px 0;
    width: 110px;
    border: none;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
}

#criar-tarefa:active {
    background-color: gray;
    color: white;
}

#apaga-tudo {
    width: 110px;
    border: none;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
}

#apaga-tudo:active {
    background-color: gray;
    color: white;
}

#remover-finalizados {
    margin-top: 25px;
    width: 110px;
    border: none;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
}

#remover-finalizados:active {
    background-color: gray;
    color: white;
}

#remover-selecionado {
    margin: 25px 0;
    width: 110px;
    border: none;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
}

#remover-selecionado:active {
    background-color: gray;
    color: white;
}

#salvar-tarefas {
    width: 110px;
    border: none;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
}

#salvar-tarefas:active {
    background-color: gray;
    color: white;
}

#mover-cima,
#mover-baixo {
    margin-top: 25px;
    width: 110px;
    border: none;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
}

#mover-cima:active,
#mover-baixo:active {
    background-color: gray;
    color: white;
